@model IEnumerable<_3S_MVCTask.Models.Products>

<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />



<button style="margin:20px;" class="btn btn-success add">Add New Product </button>

@section scripts{
    <script src="~/Scripts/jquery-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script type="text/javascript">

    $(".delete").click(function (e) {
        var url = "/Products/Delete/" + $(this).attr('Id');
        e.preventDefault();
        //OpenPopup(url);
        var ph = $("#DivToAppendPartialVoew");
        ph.load(url, function () {
            ph.dialog({
                modal: true,
                width: 500,
                height: 300,
                title: "Delete Product",
                resizable: true
            });
        });

    });

    $(".edit").click(function (e) {
        var url = "/Products/Edit/" + $(this).attr('Id');
        e.preventDefault();
        //OpenPopup(url);
        var ph = $("#DivToAppendPartialVoew");
        ph.load(url, function () {
            ph.dialog({
                modal: true,
                width: 550,
                height: 438,
                title: "Edite Product Data",
                resizable: true
            });
        });

    });

    $(".add").click(function (e) {
        var url = "/Products/Add";
        e.preventDefault();
        //OpenPopup(url);
        var ph = $("#DivToAppendPartialVoew");
        ph.load(url, function () {
            ph.dialog({
                modal: true,
                width: 600,
                height: 500,
                title: "Add New Product",
                resizable: true
            });
        });

    });

    $("#show").click(function (e) {
        var url = "/Products/proWithMinOrder/" + $(this).attr('Id');
        e.preventDefault();
        //OpenPopup(url);
        var ph = $("#DivToAppendPartialVoew");
        ph.load(url, function () {
            ph.dialog({
                modal: true,
                width: 350,
                height: 300,
                title: "proWithMinOrder",
                resizable: true
            });
        });

    });
    </script>
}

    <div class="table-responsive ">
        <table class="table table-hover table-striped text-center">
            <tr>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.pro_Name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.quantityPerUnit)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.reorderLevel)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.unitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.unitsInStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.unitsOnOrder)

                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                @Html.HiddenFor(model => item.Id)
                <tr style="padding:5px;">

                    <td>
                        @Html.DisplayFor(modelItem => item.pro_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantityPerUnit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.reorderLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.unitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.unitsInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.unitsOnOrder)
                    </td>

                    <td>
                        <button class="btn btn-info btn-large  edit" id="@item.Id">Edit product</button> |
                        <button class="btn btn-danger btn-large  delete" id="@item.Id">Delete Product</button>


                    </td>
                </tr>

            }

        </table>
        @Html.ActionLink("Products reorder", "proReOrderLevel", "Products", new {@class="btn btn-primary" })||
        
        @Html.ActionLink("MinOrder products", "proWithMinOrder", "Products", new { @class = "btn btn-danger",id="show" })
    </div>

<div id="DivToAppendPartialVoew" style="overflow:auto"></div>



